extends ../layout/index
block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src=`/img/destinos_${viaje.imagen}_ln.jpg`, class="img-fluid")
      .col-md-7
        h1 #{viaje.titulo}
        p
          i.far.fa-calendar-alt
          |&nbsp&nbsp#{viaje.fecha_ida} - #{viaje.fecha_vuelta}
        p
          i.far.fa-dollar-sign
          |&nbsp&nbsp#{viaje.precio}
        p
          i.fas.fa-users
          |&nbsp&nbsp#{viaje.disponibles} Disponibles
        p= viaje.descripcion