extends ../layout/index
block slider
  .slider
    h1 Rio de Janeiro
    em Aventura

block contenido
  main.container.mt-5
    h2.text-center.mb-5 Sobre Nosotros
    .row.mb-5
      .col-md-6
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      .col-md-6
        img(src="/img/inicio_nosotros.jpg", alt="nosotros", class='img-fluid')
    h2.text-center.mb-5 Proximos viajes
    include ../layout/partials/viajes

  .descuento
    .container
      .row
        .col-md-6
          .contenido
            h3 5% de Descuento
            p.titulo Viaje a Canada
            p.fecha 20 de marzo 2019 - 28 de marzo 2019
            p.precio $2,500 USD
  .container
    h2.text-center.my-5 Testimonios
    include ../layout/partials/testimonios