extends ../layout/index
block contenido
  main.container.mt-5
    .h1.text-center.mb-5 #{pagina}

    .row
      .col-md-12
        include ../layout/partials/testimonios

      .col-md-12
        h2.text-center Agrega un testimonio
        if(errores)
          each error in errores
            .alert.alert-danger.text-center=error.mensaje
        .row.justify-content-center
          .col-md-8
            form(action='/testimonios', method='POST')
              .form-group
                label(for="nombre") Nombre
                input(id="nombre", class="form-control", type="text", placeholder="Tu nombre", name="nombre", value=nombre)
              .form-group
                label(for="nombre") Email
                input(id="email", class="form-control", type="email", placeholder="Tu email", name="email", value=email)
              .form-group
                label(for="mensaje") Mensaje
                textarea(id="mensaje", class="form-control", rows="3", placeholder="Tu mensaje", name="mensaje")=mensaje
              input.btn.btn-success.btn-block(type="submit", value="Enviar")